@charset "utf-8";
/* CSS Document */

body {
	margin:0 auto;
	padding:0;
	background-image:url(main-bg01.jpg);
	background-repeat:no-repeat;
}

a:link {text-decoration:none; color:#ffffff}
a:visited {text-decoration:none; color:#ffffff}
a:hover {text-decoration:underline; color:#ffffff}
a:active {text-decoration:underline; color:#ffffff}


p
{
	font-family:calibri;
	font-size:15px;
	text-align:justify;
}

h3
{
	font-family:calibri;
	font-size:17px;
}


ul
{
	font-family:calibri;
	font-size:15px;
	text-align:justify;
}

ul li
{
	font-family:calibri;
	font-size:15px;
	text-align:justify;
}

.mainlholder {
	height: 100%;
	width: 100%;
}
.clear{clear:both;}

.contentHolder {
}
.socialLinks-holder {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	float:right;
	padding-top:14px;
}
.socialLinks {
	float:right;
	padding-right:84px;
}
.socialLink-icon {
	float:left;
	padding:5px;
}
#logo-unit {
	padding-top:5px;
	float:left;
}

#logo-unit2 {
	padding-top:5px;
	padding-right:1px;
	float:right;
}

#logo-unit2 ul
{
text-decoration:none;
display:inline;
padding-top:10px;
}

#logo-unit2 li
{
display:inline;
padding: 10px 5px;

}

.header {
	float:left;
	width:990px;
}
.mainImage {
	float:left;
	padding-top:6px;
}
.formArea {
	background-image:url(../images/form-bg.gif);
	background-repeat:no-repeat;
	width:303px;
	height:338px;
	float:left;
}



.bottomArea {
	width:990px;
	text-align:justify;
}
.planHolder {
	width:162px;
	float:left;
	border-right:1px solid #cccccc;
	margin-top:10px;
}
.plan-copy {
	font-family:arial;
	font-size:12px;
	color:#000000;
	margin-bottom:10px;
	padding:15px;
	height:125px;
	text-align:left;
}
.plan-title {
	font-family:arial;
	color:#003974;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:1px solid #003974;
	padding-bottom:5px;
	margin:5px;
	font-size:14px;
	margin-bottom:0px;
}
.downArrow {
	padding-left:5px;
}
.footer {
	font-family:arial;
	font-size:10px;
	color:#000000;
	background-color:#FFFFFF;
	float:left;
	width:100%;
	margin:0 auto;
	width:100%;
	margin-top:15px;
}
.footer-copy {
	width:980px;
	padding:15px 15px 15px 0px;
	margin:auto;
}
.pageHolder {
	margin: 0 auto;
	width: 993px;
}

.footer_brand {
	font-family:arial;
	font-size:10px;
	color:#000000;
	background-color:#cccccc;
	float:left;
	width:100%;
	margin:0 auto;
	width:100%;
	margin-top:5px;
	background-image:url(bottom_brand_bg.gif);
	height: 60px;
}
.footer-brand_dm {
	width:980px;
	padding:0px 0px 0px 45px;
	margin:auto;
}

#contentwrapper{
float: left;
width: 100%;
letter-spacing:1px;
}

#contentcolumn{
margin-right: 350px; /*Set right margin to RightColumnWidth*/
}

#rightcolumn{
float: left;
width: 350px; /*Width of right column*/
margin-left: -350px; /*Set left margin to -(RightColumnWidth) */

letter-spacing:1px;
font-size:18px;
}
#contact
{
height:200px;
}

#appin
{
background-image:url(11.jpg);
}
.innertube{
margin: 15px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}


/* box_block */

.box .box_t { background:url(box_t.gif) no-repeat top;}
.box .box_b {
	background:url(box_b.gif) no-repeat bottom;
	padding:0px 0px 8px 0px;
}

.box h2 { margin:0 0 10px 0; padding:11px 0 11px 20px; color:#616161; font:normal 18px Arial, Helvetica, sans-serif;}


.box p {
	padding:5px 5px;
	margin:0;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#000;
	}


.right_corstab{
	height:auto;
	padding:10px 5px 10px 6px;
	background-color:#FFFFFF;
	border:1px solid #cccccc;
	border-radius:10px;
	margin-bottom: 10px;
}


.navicorstab{
	height:auto;
	width:100%;
	font-size:14px;
	font-weight:900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navicorstab ul{
	margin:0px;
	padding:0px;
	font-size: 13px;

}
.navicorstab ul li{
	display:block;
	margin:10px 0px;
	height:30px;
	font-size: 13px;
	width:300px;
	border:1px solid #dddddd;
	border-radius:8px;
	display:block;
}

.navicorstab ul li a{
    background-color:#EFEFEF;
	text-decoration:none;
	color:#0762A9;
	font-weight:bold;
	width:300px;
	display:block;
	padding:0px 3px 0px 7px;
	border-radius:6px;
	height:30px;
	line-height:30px;
}

.navicorstab ul li a:hover{
	background-color:#D8D6D6;
	color:#3c3c3c;
	text-decoration:none;
	font-weight:bold;
	width:300px;
	display:block;
	padding:0px 3px 0px 7px;
	border-radius:6px;
	height:30px;
	line-height:30px;
}



.in_h1{font-size:18px; color:#005AA5; font-weight:bold;}

.homtab{
	height:auto;
	width:auto;
	margin: 0px 0px 15px 0px;
}
.homtab ul { margin:0; padding:0; list-style:none;}
.homtab li {
	background:url(li_ico.png) no-repeat left;
	padding:0px 15px 0px 20px;
	margin:0px 10px 0px 12px;
}

.green_heading{color:#009900;}

.blue_heading{color:#0762a9;}
.red_heading{
	color:#d76500;
}