<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<link href="stylesheets/jquery-ui-1.9.0.custom.css" rel="stylesheet">
<script src="javascripts/sliderpage/jquery-1.8.2.js"></script>
<script src="javascripts/sliderpage/jquery-ui-1.9.0.custom.js"></script>

<style type="text/css">
	#slider1 { margin-left:22px; margin-right:100px; margin-bottom:2px }   	
	price {
		       width: 800px;
		       height: 800px;		       
		       margin-right: 100px;
		       background: #ad4;		
		       font-size:200%;
		       color: white;
		       border: 1px solid #07a;
    	     }     	
	//#radio{margin-left: 0px; margin-right: 75px}
</style>

<script type="text/javascript">
	$(document).ready(function() {      
 		if("<%=locals.msg%>"!="")
	      $("#mymessage").addClass('ui-state-highlight ui-corner-all');

	  	 	function ValidateEmail(mail)     	
	  	 	{  
	  	  	   	 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) 
	  	  	   	 {  
	  	  	   	    return (true)  
	  	  	   	 } 
	  	  	   	 return (false)  
	  	  	}  
	  	   	function submitform()
	  	   	{
  	   			var email=document.getElementById("recemail").value;				
  	   			document.getElementById("rec").value=email;
  	   			if(!ValidateEmail(email))
  	   			{
  	   				alert("You have entered an invalid email address!")  		   			   		
  	   				return false;
  	   			}   			
	  	     	document.forms["form"].submit();
	  	   	}
	  	  
	  	  	function setRadio(id) {
	  	  	    var radio = $('#' + id);
	  	  	    radio[0].checked = true;
	  	  	    radio.button("refresh");
	  		}
	  		
	  	  	$( "#radio" ).buttonset(); 
	  	  	$("input[name='radio']").change(function()
	  		{		
	  			var temp=parseInt($("input[name='radio']:checked")[0].id);	 	
	  		 	$( "#slider1" ).slider({ value:  (temp-1)*2, animate: 1000});	  		 	
	  		 	document.getElementById('price').innerHTML="&nbsp;INR "+temp*111+"&nbsp;";	  		 	
	  		 	document.getElementById("hour").value=temp;
	  		});
	  			 
	  	  	$( "#continue" ).button();
	  	  	$('#continue').click(function(){  			
	  	  		console.log("button pressed");
	  	  		submitform();
	  	  	});	  

	  	  	$("#slider1").slider({step: 2, max: 8, animate: 1000, value: 2, slide: function(event, ui){
	  	  	  	
	  	  	  		document.getElementById("hour").value=ui.value/2+1;
	  	  	  		document.getElementById('price').innerHTML="&nbsp;INR "+(ui.value/2+1)*111+"&nbsp;";	  	  	  	
	  	  	  		setRadio((ui.value/2+1)+"radio");
	  	  	}});
	});//docsready function

</script>

<body>
<% include elements/header %>
<div id="banner"><img src="images/gift.jpg" width="1000" height="345" alt="" /></div>

<div id="page-wrapper">
	<form id="form" name="form" method="POST" action="payforgift">		
		<input type="hidden" id="hour" name="hour" value="2">				
		<input type="hidden" id="rec" name="rec" value="">		
	</form>
	<div id="page">
		<div id="content">
			<h2>Gift Coupon</h2>
			<p align="justify" style="color: black; font-family: sans-serif;">
				With the advent of <strong>ecelebrate</strong> (bonding relations), a new means of gifting has been emerged. Any person can opt for Diwali gift, Christmas gift, New Year gift, Valentine gift, Birthday gift, Marriage Anniversary gift or gift for any other special occasion or festival. The user will have to fill particulars of person to whom the gift has to be sent and ecelebrate (bonding relations) will send coupon code to the person receiving the gift with senders detail and copy to sender also for its record. The gift coupon can be send from single user to any number of user till 5 persons.
			</p>
		</div>		
		<div id="sidebar" >
			<h4 style="font-family: sans-serif;">Instructions for receiver of gift</h4>			
			<p align="justify" style="color: black;">
				The receiver of gift has to follow same <a href="steps">steps / procedures</a> as normal user. The only exception is that at booking / payment section the user has to enter the coupon code received at e-mail from ecelebrate (bonding relations) and the user will be directly transferred to celebration page for watching, burning and enjoying crackers / fireworks.
			</p>			
		</div>
		
	</div>
</div>

<% include elements/footer %>
</body>
</html>
