<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<style type="text/css">
		#sidebar {
			float: left;
			width: 290px;
			padding: 0px 30px 0px 0px;
		}	
		#content {
			float: right;
			width: 620px;
			padding: 0px 30px 20px 30px;
		}
</style> 

<body>
<% include elements/header %>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
	<p>
		The celebration screen for watching, burning and enjoying crackers / fireworks will have following features:-
	</p>
	</div>	
</div>

<!---  Next elements //-->
<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >
			<h2>Identification</h2>
			<p align="justify">
				Left top of the screen will display the photograph(s) of other users who are connected for celebration. Therefore, in case of solo celebration, no photograph will be displayed and in case of group celebration, photographs of other users who are available nearby would be displayed to have the impression as if everybody is available at same location.
			</p>
		</div>
		<div id="sidebar" style="float: left;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/photo_help.png" width=300 height=200></img></p>
				</li>				
			</ul>
		</div>
	</div>
</div>
<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>
				
				<h2>Selecting Crackers</h2>
				<p align="justify">
					Left side of the screen has list of crackers which can be viewed by hovering to that section.
				</p>				
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/selecting_help.png" width=300 height=200></img></p>
				</li>				
				
			</ul>
		</div>
	</div>
</div>

<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >
			<div>				
				<h2>Launching Ready</h2>
				<p align="justify">
					After selection of cracker, a hand, fire stick and cracker will be displayed on the screen. 
				</p>
			</div>
		</div>
		<div id="sidebar" style="float: left;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/burning_help.png" width=300 height=250></img></p>
				</li>								
			</ul>			
		</div>				
	</div>
</div>
<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>
				
				<h2>Launching Crackers</h2>
				<p align="justify">
					A hand has to be moved to fire stick and both will be dragged to cracker. After, the fire stick and cracker comes in contact, the hand and fire stick will automatically disappear and cracker will burst.
				</p>				
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/bn.png" width=300 height=200></img></p>
				</li>				
				
			</ul>
		</div>
	</div>
</div>

<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >
			<div>				
				<h2>Communicating</h2>				
				<p align="justify">
					Right side bottom of the screen has chat room which can be used to communicate amongst the users connected at the same time.
				</p>		
			</div>
		</div>
		<div id="sidebar" style="float: left;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/chat_help.png" width=300 height=200></img></p>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>				
				<h2>Countdown and exit</h2>
				<p align="justify">
					Right side top of the screen has the indication for balance time for the celebration and exit option.
				</p>
				<p align="justify">
					In case of group celebration, exit by any single user will not affect the celebration of other users and it will be continued without any halt.
				</p>
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/time_help.png" width=300 height=200></img></p>
				</li>								
			</ul>
		</div>					
	</div>
</div>

<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>				
				<h2>Refresh</h2>
				<p align="justify">
					In case of any problem at celebration page, refresh the same or exit to continue the celebration of watching, burning and enjoying crackers / fireworks.
				</p>				
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/refresh_help.png" width=300 height=200></img></p>
				</li>				
				
			</ul>
		</div>
	</div>
</div>

<!---  Next elements //-->



<% include elements/footer %>
</body>
</html>
