<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<% include elements/head %>
<style type="text/css">
	body { 
		//background-color:#000; 
	}
	#slider {
		width:928px;
		height:400px;
		/*IE bugfix*/
		padding:0;
		margin:0;
	}
	#slider li { list-style:none; }
	#page2 {
		width:100px;
		margin:20px 200px;
		margin-bottom: 70px;
	}
</style>  

<body>
	
	<% include elements/header %>
	<% include elements/slider %>
	<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >
			<div>				
				<p align="justify"><strong>ecelebrate</strong> (bonding relations) is a web project developed to enjoy crackers / fireworks, <a href="http://youtu.be/Y2zZjl-FH6U" target="_blank">demo link 1</a> and <a href="http://youtu.be/moY4a6patI8" target="_blank">demo link 2</a> on any occasion like festivals, Christmas, New Year, Valentine’s Day, Birthday’s, Marriage Anniversary, etc. and that too without affecting the environment in an eco-friendly manner. The project has been developed by the professionals who have taken care of personal need and requirements of an individual person.</p>
				<p>&nbsp;</p>
				<p align="justify">In this global world where the near and dear ones are away on some special occasion, <strong>ecelebrate</strong>(bonding relations) tries to get them connected and celebrate the occasion as if they are present at one location while enjoying the moment at full score.</p>
				<p>&nbsp;</p>
				<p align="justify"><strong>ecelebrate</strong> (bonding relations) through this web project has developed some crackers / fireworks, <a href="http://youtu.be/Y2zZjl-FH6U" target="_blank">demo link 1</a> and <a href="http://youtu.be/moY4a6patI8" target="_blank">demo link 2</a>,  which reflect pure blending of colour and sound as if they are natural. The burning of actual crackers / fireworks eminate lot
					 of heat and pollution which affects our environment, creatures who can’t express their feelings, patients, old age persons and mostly the infants who has just arrived into this beautiful planet (the earth). However, due to carelessness and deliberate act of some people rest has to suffer for their doings. Everyday, we talk and hear for global warming and steps taken by every country to reduce the same (global warming) go unheard / unnoticed on personal special occasions and next cheerful morning, the day after burning of crackers / fireworks, we ourself realise that what we had done last night is totally wrong. But what had been committed last night, i.e. burning of crackers / fireworks, could not be reversed as burning of crackers / fireworks had contaminated the environment and increased the component of global warming / pollution / difficulties for creatures, patients, old age persons & infants. Therefore, burning of crackers / fireworks create more pain than pleasure.</p>
				<p>&nbsp;</p>
				<p align="justify"> The team at <strong>ecelebrate</strong>  (bonding relations) has understood that every person on this planet either likes to watch crackers / fireworks or burn crackers / fireworks. Hence, both, watching and burning of actual crackers / fireworks create lot of pollution and health related issues. Therefore, ecelebrate (bonding relations) web project has been developed wherein the users can enjoy watching and burning of crackers / fireworks with their family and friends.</p>
				<p>&nbsp;</p>

				<p align="justify">The concept of <strong>ecelebrate</strong> (bonding relations) is a unique where 5 users can be connected at single point and enjoy colour and sound of crackers / fireworks at real time upon their individual computer systems. Out of 5 login users anyone can select the cracker, anyone can burn the cracker and rest will enjoy burning of crackers / fireworks online by viewing the same on real time basis. Further, chat room facility has been developed to facilitate communication amongst the login users. If no chatting is being carried by the users, the server will itself send message of Who has selected the cracker (with registered name) and ready to fire so that everybody don’t misses any single event.</p>
				<p>&nbsp;</p>
				<p align="justify">
					If burning and watching of crackers / fireworks has to be enjoyed individually or in a group in an eco-friendly manner without harming environment and ecological system created by creator of this universe the simple <a href="steps">steps / procedures</a> has to be followed to contribute towards reduction of global warming.
				</p>
			</br></br></br>
				<p align="justify">
					<strong>ecelebrate</strong> (bonding relations) has developed a new concept of gifting where the users can gift the voucher coupons on any occasion to the person they likes. To know more <a href="giftcoupon">Click here</a>
				<p>
			</div>								
		</div>

		<div id="sidebar">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/side1.jpg" width=300 height=200></img></p>
				</li>
				<li>
					<p align="justify">Burning of crackers / fireworks can be enjoyed at any time without waiting for evening / darkness.</p>
				</li>
				<li class="first">
					<p><img src="images/side2.jpeg" width=300 height=200></img></p>
				</li>
				<li>
					<p align="justify">Burning of crackers / fireworks can be enjoyed without disturbing privacy / independency of any other person.</p>
				</li>				
				<li class="first">
					<p><img src="images/polar.jpg" width=300 height=200></img></p>
				</li>
				<li>
					<p align="justify">A step towards reduction in global warming.</p>
				</li>
				<li class="first">
					<p><img src="images/side3.jpg" width=300 height=200></img></p>
				</li>
				<li>
					<p align="justify"><strong>ecelebrate</strong> (bonding relations) gives more pleasure than pressure on wallet.</p>
				</li>
			</ul>
		</div>		
	</div>	
</div>
<div id="footer-wrapper" style="font-family: sans-serif;">
	<div id="footer-content">		
		<div align="left" id ="fbox1">
			<a href="/terms" target="_blank"><img src="images/contact/terms.png" alt=""></a>			
		</div>
		<div align="right" id="fbox4">
			<a href="http://www.facebook.com/ecelebrate.dotnet?fref=ts" target="_blank"><img src="images/contact/fb.png" alt=""></a>			
			<a href="http://www.youtube.com/channel/UCLYVXBplHR6d9JFYNnOvFbw?feature=watch" target="_blank"><img height=90 src="images/contact/youtube.png" alt=""></a>					
		</div>		
	</div>
</div>

<% include elements/footer %>

</body>
</html>
