<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>:: ECELEBRATE - Virtual Online Cracker Wensite ::</title>
<link rel="stylesheet" type="text/css" href="landing_page/style - new.css">
</head>

<body>
    <div class="pageHolder">
      	<div class="header"> 
      		<div id="logo-unit"><a href="http://ecelebrate.net"><img src="landing_page/appin_vikaspuri.png"  /></a></div>      
		<div id="logo-unit2">
<ul>
<li><a href="http://www.facebook.com/ecelebrate.dotnet?fref=ts" target="_blank"><img src="landing_page/facebook.png"  /></a></li>
<li><a href=""><img src="landing_page/google.png"  /></a></li>
<li><a href="http://www.youtube.com/channel/UCLYVXBplHR6d9JFYNnOvFbw?feature=watch" target="_blank"><img src="landing_page/youtube.png"  /></a></li>
</ul>



		</div>
      	</div>

      	<div class="mainBanner">
        		<div class="mainImage"><img src="landing_page/banner.jpg" width="990" height="400" /></div>
	</div>

	<div id="contentwrapper">
	<div id="contentcolumn">
	<img src="landing_page/banner4.jpg"/>

	<img src="landing_page/steps.jpg"/>


<table class="style1">
            <tr>
                <td rowspan="2">
                    <img src="landing_page/banner5.jpg"  /></td>
                <td>
                    <a href="http://ecelebrate.net/register"><img src="landing_page/register-button.jpg"  /></a></td>
            </tr>
            <tr>
                <td>
                    <a href="http://www.youtube.com/watch?v=moY4a6patI8" target="_blank"><img src="landing_page/demo-button.jpg"  /></a></td>
            </tr>
        </table>


	</div>
	<p><b>eCelebrate (bonding relations)</b> is a web project developed to enjoy crackers / fireworks, demo link 1, on any occasion like festivals, Christmas, New Year, Valentine’s Day, Birthday’s, Marriage Anniversary, etc. and that too without affecting the environment in an eco-friendly manner. The project has been developed by the professionals who have taken care of personal need and requirements of an individual person.</p>

	<p>In this global world where the near and dear ones are away on some special occasion, ecelebrate (bonding relations) tries to get them connected and celebrate the occasion as if they are present at one location while enjoying the moment at full score.</p>

	<p><b>eCelebrate (bonding relations)</b> through this web project has developed some crackers / fireworks, demo link 2, which reflect pure blending of colour and sound as if they are natural. The burning of actual crackers / fireworks eminate lot of heat and pollution which affects our environment, creatures who can’t express their feelings, patients, old age persons and mostly the infants who has just arrived into this beautiful planet (the earth). However, due to carelessness and deliberate act of some people rest has to suffer for their doings. Everyday, we talk and hear for global warming and steps taken by every country to reduce the same (global warming) go unheard / unnoticed on personal special occasions and next cheerful morning, the day after burning of crackers / fireworks, we ourself realise that what we had done last night is totally wrong. But what had been committed last night, i.e. burning of crackers / fireworks, could not be reversed as burning of crackers / fireworks had contaminated the environm	ent and increased the component of global warming / pollution / difficulties for creatures, patients, old age persons & infants. Therefore, burning of crackers / fireworks create more pain than pleasure.</p>

	<p>The team at <b>eCelebrate (bonding relations)</b> has understood that every person on this planet either likes to watch crackers / fireworks or burn crackers / fireworks. Hence, both, watching and burning of actual crackers / fireworks create lot of pollution and health related issues. Therefore, ecelebrate (bonding relations) web project has been developed wherein the users can enjoy watching and burning of crackers / fireworks with their family and friends. </p>

	<p>The concept of <b>eCelebrate (bonding relations)</b> is a unique where 5 users can be connected at single point and enjoy colour and sound of crackers / fireworks at real time upon their individual computer systems. Out of 5 login users anyone can select the cracker, anyone can burn the cracker and rest will enjoy burning of crackers / fireworks online by viewing the same on real time basis. Further, chat room facility has been developed to facilitate communication amongst the login users. If no chatting is being carried by the users, the server will itself send message of Who has selected the cracker (with registered name) and ready to fire so that everybody don’t misses any single event.</p>

	<p>If burning and watching of crackers / fireworks has to be enjoyed individually or in a group in an eco-friendly manner without harming environment and ecological system created by creator of this universe the simple steps / procedures has to be followed to contribute towards reduction of global warming.</p>



<h3>Fireworks</h3>

<p>The celebration screen for watching, burning and enjoying crackers / fireworks will have following features:-</p>
<ul>

<li>Left top of the screen will display the photograph(s) of other users who are connected for celebration. Therefore, in case of solo celebration, no photograph will be displayed and in case of group celebration, photographs of other users who are available nearby would be displayed to have the impression as if everybody is available at same location.</li>
<li>Left side of the screen has list of crackers which can be viewed by scrolling to that section.</li>
<li>After selection of cracker, a hand, fire stick and cracker will be displayed on the screen.</li>
<li>A hand has to be moved to fire stick and both will be dragged to cracker. After, the fire stick and cracker comes in contact, the hand and fire stick will be automatically dispersed and cracker will be burst.</li>
<li>Right side bottom of the screen has chat room which can be used to communicate amongst the users connected at the same time.</li>
<li>Right side top of the screen has the indication for balance time for the celebration and exit option.</li>
<li>In case of group celebration, exit by any single user will not affect the celebration of other users and it will be continued without any halt.</li>
<li>In case of any problem at celebration page, refresh the same or exit to continue the celebration of watching, burning and enjoying crackers / fireworks.</li>
</ul>

<h3>Gift</h3>

<p>With the advent of ecelebrate (bonding relations), a new means of gifting has been emerged. Any person can opt for Diwali gift, Christmas gift, New Year gift, Valentine gift, Birthday gift, Marriage Anniversary gift or gift for any other special occasion or festival. The user will have to fill particulars of person to whom the gift has to be sent and ecelebrate (bonding relations) will send coupon code to the person receiving the gift with senders detail and copy to sender also for its record. The gift coupon can be send from single user to any number of user till 5 persons.</p>

<h3>Instructions for receiver of gift</h3>

<p>The receiver of gift has to follow same steps / procedures as normal user. The only exception is that at booking / payment section the user has to enter the coupon code received at e-mail from ecelebrate (bonding relations) and the user will be directly transferred to celebration page for watching, burning and enjoying crackers / fireworks.</p>


<h3>What’s New</h3>
<ul>
<li>The team at ecelebrate (bonding relations) is working 24 X 7 to develop special type of crackers / fireworks for valentine’s day.</li>
<li>The concept of ecelebrate (bonding relations) will assist the lover’s on this beautiful planet, who can’t personally express their feelings to partners by meeting, to enjoy valentine’s great day by watching, burning and enjoying special crackers / fireworks designed for valentine’s day.</li>
<li>The users may keep watch at ecelebrate (bonding relations) for new crackers / fireworks added to the kitty.</li>
</ul>






	</div>
	</div>


	</div>
	<img src="landing_page/footer.jpg"/>	
</body>
</html>
