<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>

<link href="stylesheets/jquery-ui-1.9.0.custom.css" rel="stylesheet">
<script src="javascripts/sliderpage/jquery-1.8.2.js"></script>
<script src="javascripts/sliderpage/jquery-ui-1.9.0.custom.js"></script>

<style type="text/css">
	#slider1 { margin-left:22px; margin-right:100px; margin-bottom:2px }   
	#slider2 { margin-left:22px; margin-right:100px; margin-bottom:2px }   
	price {
		       width: 800px;
		       height: 800px;		       
		       margin-right: 100px;
		       background: #ad4;		
		       font-size:200%;
		       color: white;
		       border: 1px solid #07a;
    	     }     	
	//#radio{margin-left: 0px; margin-right: 75px}
</style>

<script>
 // Submitting Helping funtion
  
 $(document).ready(function() {       		
 		if("<%=locals.msg%>"!="")
		$("#mymessage").addClass('ui-state-highlight ui-corner-all');
 	
 	function ValidateEmail(mail)     	
 	{  
  	   	 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {  
  	   	    return (true)  
  	   	 } 
  	   	 return (false)  
  	  }  
   	function submitform(){
   		var numberofuser = document.getElementById("num").value; 
   		document.getElementById("coup").value= document.getElementById("coupon").value; 
   		
   		for(i=1;i<=numberofuser;i++)
   		{	
   			var email=document.getElementById("key"+i).value;				
   			document.getElementById("reg"+i).value=email;
   			if(!ValidateEmail(email)){
   			alert("You have entered an invalid email address!")  		   			   		
   			return false;
   			}   			
     		}	     	
     		document.forms["form"].submit();
   	}
  
    $( "#dialog" ).dialog({ autoOpen: false,
  	    	    	resizable: false,
          		height:200,
          		width: 600,
          		show: "scale",
          		modal: true,
              		buttons: {"Close": function() {  $( this ).dialog( "close" );setRadio("1downradio");$( "#slider2" ).slider({ value: 0, animate: 1000});} 
              		
              		}
          	 
        	});
  
  $( "#u1" ).show( "explode" );$( "#u2" ).show( "explode" );$( "#u3" ).hide( "explode" );$( "#u4").hide( "explode" );$( "#u5" ).hide( "explode" );
  
  	function setRadio(id) {
  	    var radio = $('#' + id);
  	    radio[0].checked = true;
  	    radio.button("refresh");
	}
	
  	$( "#radio" ).buttonset(); 
  	$("input[name='radio']").change(function()
	{		
		var temp=parseInt($("input[name='radio']:checked")[0].id);	 	
	 	$( "#slider1" ).slider({ value:  (temp-1)*2, animate: 1000});	 		 	
	 	document.getElementById("num").value=temp;
	 	document.getElementById('price').innerHTML="&nbsp;$ "+temp*11.11+"&nbsp;";	  		 	
	 	for(i=1;i<=5;i++){
	 		if(i<=temp)
	 		$( "#u"+i ).show( "explode" );
	 		else
	 		$( "#u"+i ).hide( "explode" );
	 	}		
	});
	
	$( "#downradio" ).buttonset(); 
	$("input[name='downradio']").change(function()
	{		
	 	var temp=parseInt($("input[name='downradio']:checked")[0].id);		
		document.getElementById("hour").value=temp;
	 	$( "#slider2" ).slider({ value:  (temp-1)*2, animate: 1000});	 	
	 	$( "#dialog" ).dialog( "open" );			
	});
	
	
  	$( "#identify1" ).button();$( "#identify2" ).button(); $( "#identify3" ).button();$( "#identify4" ).button();$( "#identify5" ).button();    	    	
  	$( "#continue" ).button();
  	$( "#gift" ).button();
  	  	
	$('#identify1').click(function(){  			
  		$("#user1").attr('src', "users/"+document.getElementById("key1").value+".jpg" );  			
  	});
 	$('#identify2').click(function(){  			
  		$("#user2").attr('src', "users/"+document.getElementById("key2").value+".jpg" );  			
  	}); 		
  	$('#identify3').click(function(){  			
  		$("#user3").attr('src', "users/"+document.getElementById("key3").value+".jpg" );  			
  	});	
  	$('#identify4').click(function(){  			
  		$("#user4").attr('src', "users/"+document.getElementById("key4").value+".jpg" );  			
  	});	
  	$('#identify5').click(function(){  			
  		$("#user5").attr('src', "users/"+document.getElementById("key5").value+".jpg" );  			
  	});	
  	
  	$('#continue').click(function(){  			
  		console.log("button pressed");
  		submitform();
  	});	

  	$('#gift').click(function(){  			
  		window.location = "gift";  		
  	});	

  	$("#slider1").slider({step: 2, max: 8, animate: 1000, value: 2, slide: function(event, ui){
  	
  		document.getElementById("num").value=ui.value/2+1;
  		for(i=1;i<=5;i++){
	 		if(i<=ui.value/2+1)
	 		$( "#u"+i ).show( "explode" );
	 		else
	 		$( "#u"+i ).hide( "explode" );
	 	}	
  	
  		setRadio((ui.value/2+1)+"radio");
  		document.getElementById('price').innerHTML="&nbsp;$ "+(ui.value/2+1)*11.11+"&nbsp;";	  	  	  	
  	}});  	
	//document.getElementById("u3").hide();
	
	$("#slider2").slider({step: 2, max: 8, animate: 1000, slide: function(event, ui){document.getElementById("hour").value=ui.value/2+1;setRadio((ui.value/2+1)+"downradio"); $( "#dialog" ).dialog( "open" );}});
		
  });//docsready function
  
   
  
</script>

<body>
<% include elements/header %>

<div id="page-wrapper">
	<form id="form" name="form" method="POST" action="pay">
		<input type="hidden" id="num" name="num" value="2">		
		<input type="hidden" id="hour" name="hour" value="1">		
		<input type="hidden" id="coup" name="coup" value="0">		
		<input type="hidden" id="reg1" name="reg1" value="<%=locals.email%>">
		<input type="hidden" id="reg2" name="reg2" value="">		
		<input type="hidden" id="reg3" name="reg3" value="">		
		<input type="hidden" id="reg4" name="reg4" value="">		
		<input type="hidden" id="reg5" name="reg5" value="">		
	</form>
	<div id="page">
		<div id="content">
			<h2>Plans/Payment</h2>
			<div align="left" style="">				
				<strong  style="color: green; font-size: 20px;">GIFT OPTION</strong>				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="button" id="gift" value="Send"></span>				
				</br>		
			</div>					
			<div class="slideonly">
			<p id="mymessage"><%=locals.msg%></p>
			</br>
			<li  id = "u1" >
				<p>	
				<strong>User1 Email:&nbsp;&nbsp;</strong><input type="text" size="25" id="key1" value="<%=email%>"> 
				</br></br>											
				<img id="user1" name="user1" align=center src="<%=locals.image%>" alt="No Image" width=100 height=100></img>					
				<input type="button" id="identify1" value="Identify">					
				</p>					
				</br>
			</li>			
				</br>
				<h3>Select no. of users</h3>
				</br>
				<div id="slider1"></div>
				<div id="radio">
				    <input type="radio" id="1radio" name="radio"><label for="1radio">1</label>
				    <input type="radio" id="2radio" name="radio" checked="checked"><label for="2radio">2</label>
				    <input type="radio" id="3radio" name="radio"><label for="3radio">3</label>
				    <input type="radio" id="4radio" name="radio"><label for="4radio">4</label>
				    <input type="radio" id="5radio" name="radio"><label for="5radio">5</label>
				</div>							
			</div>							
			<p>&nbsp;</p>
			<p>This refers to number of users who will take part simultaneously while burning crackers. It adds $ 11.11 per user for one unit (1 unit= 1 user).</p>
			<p>&nbsp;</p>
			
			<p>&nbsp;</p>		
			<div class="slideonly">
				</br>
				<div id="dialog" title="Important Message"><p>At present, due to heavy load on server, we are providing only 1 hour session.</p></div>
				<h3>Select no. of hours</h3>
				</br>
				<div  class="slideonly" id="slider2"></div>
				<div id="downradio">
				    <input type="radio" id="1downradio" name="downradio"checked="checked"><label for="1downradio">1</label>
				    <input type="radio" id="2downradio" name="downradio"><label for="2downradio">2</label>
				    <input type="radio" id="3downradio" name="downradio"><label for="3downradio">3</label>
				    <input type="radio" id="4downradio" name="downradio"><label for="4downradio">4</label>
				    <input type="radio" id="5downradio" name="downradio"><label for="5downradio">5</label>
				</div>
 
			
			<p>&nbsp;</p>
			<p>This refers to number of hours for which each user will be celebrating with each other. It adds $ 11.11 per unit(1 unit= 1 hour).</p>
			<p>&nbsp;</p>
						
			<p><span><price id ="price">&nbsp;$  22.22&nbsp;</price></p>
			</br></br>
			<p><span>&nbsp;<strong style="font-family: sans-serif;">Coupon/Promo Code:  </strong><input type="text" id ="coupon" size=20 value=""/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button" id="continue" value="Continue"></span></p>			
			
			</div>		
			
		</div>
		<div id="sidebar" class="slideonly">			
			<h2>Members Identification</h2>
			<form autocomplete="on" method="post">
			<ul class="style1"  align=center>
				
				<li class="first" id="u2" >					
					<p>	
						<strong>User2 Email:&nbsp;&nbsp;</strong><input type="text" size="25" id="key2" value=""> 
						</br></br>											
						<img id="user2" name="user2" align=center src="users/user.jpg" width=100 height=100></img>					
						<input autocomplete="on" type="button" id="identify2" value="Identify">					
					</p>
					</br>
				</li>				
				<li  id ="u3" align=center>
					<p>	
						<strong>User3 Email:&nbsp;&nbsp;</strong><input type="text" size="25" id="key3" value=""> 
						</br></br>											
						<img id="user3" name="user3" align=center src="users/user.jpg" width=100 height=100></img>					
						<input autocomplete="on" type="button" id="identify3" value="Identify">					
					</p>					
					</br>
				</li>
				
				<li  id = "u4" align=center>
					<p>	
						<strong>User4 Email:&nbsp;&nbsp;</strong><input type="text" size="25" id="key4" value=""> 
						</br></br>											
						<img id="user4" name="user4" align=center src="users/user.jpg" width=100 height=100></img>					
						<input autocomplete="on" type="button" id="identify4" value="Identify">					
					</p>					
					</br>
				</li>
				<li  id = "u5" align=center>
					<p>	
						<strong>User5 Email:&nbsp;&nbsp;</strong><input type="text" size="25" id="key5" value=""> 
						</br></br>											
						<img id="user5" name="user5" align=center src="users/user.jpg" width=100 height=100></img>					
						<input autocomplete="on" type="button" id="identify5" value="Identify">											
					</p>					
					</br>
				</li>				
				
			</ul>
			</form>
		</div>
	</div>
</div>
<% include elements/footer %>
</body>
</html>
