<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>	
	<script>
	function submitFrm()
	{		
		document.ecom.submit();
	}
	window.onload=function(){submitFrm();} 
</script>	

<body  style="font-family: sans-serif;">
<% include elements/header %>

<div id="banner-wrapper">
	<div id="banner"><img src="images/pics01.jpg" width="1000" height="345" alt="" /></div>
</div>

<div id="page-wrapper">
	<div id="page">
		<div id="content">
			<h2>Processing................</h2>				
		</div>

		<form id="ecom" name="ecom" action="<%=locals.address%>" method="post">
		    <!-- Specify a Buy Now button. -->
		    <input type="hidden" name="cmd" value="_xclick">

		    <!-- Identify your business so that you can collect the payments. -->
		    <input type="hidden" name="business" value="<%=locals.recEmail%>">
		       
		    <!-- Specify details about the item that buyers will purchase. -->
		    <input type="hidden" name="item_name" value="Celebration">
		    <input type="hidden" name="amount" value="<%=locals.amount%>">
		    <input type="hidden" name="currency_code" value="USD">
		    <input type="hidden" name="custom" value="<%=locals.information%>">
		    <input type="hidden" name="email" value="<%=locals.user.email%>">
		    <input type="hidden" name="cancel_return" value="<%=locals.returnfail%>">
		    <input type="hidden" name="return" value="<%=locals,returnsuccess%>">
		    <!-- Prompt buyers to enter their desired quantities. -->
		    <input type="hidden" name="quantity" value="1">
		    <input type="hidden" name="notify_url" value="<%=locals.ipnurl%>" />
		    <!-- Display the payment button. -->		    
		  </form>	


	</div>
				
</div>


<% include elements/footer %>
</body>
</html>
