<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<script type="text/javascript">
	
	//setTimeout(function(){window.location="/mycelebrations"},4000);	

</script>
<body style="font-family: sans-serif;">
<% include elements/header %>
<div id="banner-wrapper">
	<div id="banner"><img src="images/pics01.jpg" width="1000" height="345" alt="" /></div>
</div>
<div id="page-wrapper">
	<div id="page">
		<div id="content">
			<h2>Transaction <%=locals.status%></h2>
			<div align=center style="background: white;">			
				</br></br>				  
				<p><%=locals.flashmsg%> <a href="mycelebrations">Click here</a> to go to Celebration page</p>				 
			</br></br>
			</div>
		
		</div>				
		
		<div id="sidebar">
				</br></br></br>
			
		</br></br>
			<ul class="style1">
				<li class="first">
					<img src="images/payment.jpg" width=300 height=200></img>
				</li>							
			</ul>
		</div>	
	</div>
			
	</div>
</div>

<% include elements/footer %>
</body>
</html>
