<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<% include elements/head %>
<style type="text/css">
		#sidebar {
			float: left;
			width: 290px;
			padding: 0px 30px 0px 0px;
		}	
		#content {
			float: right;
			width: 620px;
			padding: 0px 30px 20px 30px;
			
		}
</style> 

<body>
<% include elements/header %>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left">
			<div>
				
				<h2>Intro</h2>
				<p align="justify"><strong>ecelebrate</strong>(bonding relations) is a web project, which provides user to enjoy crackers / fireworks with their social group in eco-friendly way. On this website, the user can enjoy crackers / fireworks with variety of sounds and lights, that too without damaging our eco-system and in eco friendly manner.</p>
			</div>			
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/side1.jpg" width=300 height=200></img></p>
				</li>						
			</ul>
		</div>		
	</div>	
</div>

<!---  Next elements //-->
<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >
			<div>
				
				<h2>Features</h2>
			<p align="justify">
				<p>1. Chat Room will update the user with all information about other users connected. The user (s) can also chat with them during the celebration.</p>				
				<p>2. There are list of crackers, where you can select one and burn that cracker by dragging Sparkle-stick over the cracker.</p>				
				<p>3. All the fireworks will be shared on screen of each user in real-Time.</p>				
				<p>4. User can resume the session infinite times but till one hour after the celebration session is started.</p>				
				<p>5. Any User can start the session, which has been booked for the respective session.</p>				
				<p>6. Information section maintains the detailed records of all Celebration being booked by users.</p>
			</p>
			</div>
		</div>
		<div id="sidebar" style="float: left;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/play.jpg" width=300 height=200></img></p>
					<p></p>
					</br>
					<p><img src="images/help/anar.jpg" width=300 height=200></img></p>
				</li>				
				
			</ul>
		</div>
	</div>
</div>
<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >				
		</div>
		<div id="sidebar" style="float: left;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/register.png" width=300 height=250></img></p>
				</li>								
			</ul>			
		</div>		
		<h1>Register</h1>
		<br>
		<p align="justify">The user, i.e. all the users, in case of individual person single registration and in a group by all the persons willing to form a group, has to register with <strong>ecelebrate</strong> (bonding relations) by putting valid existing e-mail ID, this is required to verify the user as per Internet Security Procedures, wherein an activation link be forwarded and by double clicking that activation link, the user will be automatically redirected to ecelebrate (bonding relations).Thereafter, password has to be mention so that nobody else can access the account followed by confirmation of password so that the original password entered has not been hurriedly mentioned and the user is fully aware of all the contents of the password. All these three fields are compulsory for completion of registration. However, in case, password is forgotten, a new system generated password will be sent at registered e-mail ID. The original password and system generated password can be amended as per the convenience of the user. Further, in case, registered e-mail ID is not working, the user can go to CONTACT section where registered telephone number or photograph can be sent alongwith new e-mail ID, the new system generated password will be sent at new e-mail ID after verification of particulars. The field for telephone number to be mentioned is optional as this is required by technical team to co-ordinate with the user to resolve the difficulty faced by the user. The last but not least is the field of putting photograph (in jpg formats) is also optional but plays an important role / function if the crackers / fireworks are enjoyed in a group. To know the importance <a href="how">click here</a>. The last column is the acceptance / decline of receiving promotional message from the company.</p>
		<BR>
		<p>Here, we would like to add that the registration is one time process and is absolutely free without any further obligation upon the user. The data shared by user will not be transferred by the company in any circumstances. The company stands committed for non-sharing of data with any third party.
		</p>
	</div>
</div>
<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>
				
				<h2>Login</h2>
				<p align="justify">
					After clicking activation link and redirected to ecelebrate (bonding relations) the user has to login by putting user name as e-mail ID and password. After successful login, the WELCOME message will be displayed alongwith name at left side of ecelebrate (bonding relations)
				</p>				
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/login.jpg" width=300 height=200></img></p>
				</li>				
				
			</ul>
		</div>
	</div>
</div>

<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" >
			<div>
				
				<h2>Book Celebrations</h2>				
			</div>
		</div>
		<div id="sidebar" style="float: left;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/book.jpg" width=300 height=200></img></p>
				</li>								
			</ul>
		</div>
		<p align="justify">
			The user will be redirected to booking section of burning of crackers / fireworks where as per the choice of the user the booking for number of users / persons can be made. One (1), Two (2), Three (3), Four (4) or Five (5) number of users / persons can be booked at a time for enjoying celebration and accordingly registered e-mail of all the users / persons has to be filled. After putting e-mail ID click the verify button and in case, the user / person is registered with photograph, the photograph will be displayed or the photo section will be converted into green signal as a go-ahead or if nothing happens please verify the e-mail ID of that user / person. Follow this step for every user.
		</p>
		<p align="justify">
			The cost of watching, burning, enjoying and healthy environment is only US $ 11.11 per user for an hour. Therefore, for continuous celebration and burning unlimited times of crackers of users choice during an hour for One (1) user is US $ 11.11, Two (2) user is US $ 22.22, Three (3) user is US $ 33.33, Four (4) user is US $ 44.44 and Five (5) user is US $ 55.55.
		</p>				
		<p align="justify">
			The cost of celebration will be automatically filled by the system and CONTINOUS button has to be clicked for making the payment.
		</p>		
	</div>
</div>
<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>				
				<h2>Payment</h2>				
				<p align="justify">
					The user will be redirected to payment section  of Paypal wherein particulars has to be filled for successful payment and just a step away from enjoying burning of crackers / fireworks online, <a href="http://youtu.be/Y2zZjl-FH6U" target="_blank">demo link 1</a> and <a href="http://youtu.be/moY4a6patI8" target="_blank">demo link 2</a>, in an eco-friendly manner. 
					Here, most important point to be mentioned is that the payment particulars entered are neither available with <strong>ecelebrate</strong> (bonding relations) nor with the company. Therefore, there is no need to worry while putting particulars at payment section of Paypal as everybody is aware of the security system of Paypal.
				</p>
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/payment.png" width=300 height=200></img></p>
				</li>								
			</ul>
		</div>					
	</div>
</div>

<!---  Next elements //-->

<div style="background: white;">
	</br>		
</div>
</div>
<div id="page-wrapper" style="font-family: sans-serif;">
	<div id="page">
		<div id="content" style="float: left;">
			<div>
				
				<h2>Celebrate</h2>
				<p align="justify">
					The entire process will take around 2 – 3 minutes and the user will be at celebration screen for enjoying burning of crackers / 	fireworks where photographs of every user is displayed at top excluding the own user, a chat room facility is available at bottom of right side, 	crackers are at left side and session remaining at top of the right side.
				</p>
				<p align="justify">
					To know more about how to celebrate and enjoy burning of crackers / fireworks <a href="how">Click here</a>
				</p>				
			</div>
		</div>
		<div id="sidebar" style="float: right;">			
			<ul class="style1">
				<li class="first">
					<p><img src="images/help/cpanel.jpg" width=300 height=200></img></p>
				</li>				
				
			</ul>
		</div>
	</div>
</div>

<!---  Next elements //-->



<% include elements/footer %>
</body>
</html>
