<div id="header">
	<div id="logo">
		<h1><a href="http://ecelebrate.net">ecelebrate</a></h1>
	</div>
	<div id="menu" >
		<ul>
			<li id="Home" ><a href="/" accesskey="1" title="">Home</a></li>
			<li id="Steps"><a href="/steps" accesskey="5" title="">Steps</a></li>			
			<script>			
				var x = '<% if(locals.login){%>1<% }else{ %>0<%}%>';
				console.log("rendering login");					
				if(x==0){
					document.write('<li id="Register"><a href="/register" accesskey="2" title="">Register</a></li>');			
					document.write('<li id="Login"><a href="/login" accesskey="3" title="">Login</a></li>');
				}				
			</script>			
			<li id="Help"><a href="/how" accesskey="4" title="">Fireworks</a></li>			
			<li id="Gift"><a href="/giftcoupon" accesskey="4" title="">Gift</a></li>			
			<li id="Plans"><a href="/Plans" accesskey="4" title="">Booking</a></li>			
			<li id="Contact"><a href="/contact" accesskey="6" title="">Contact</a></li>
		</ul>
	</div>
</div>
<script>
		var y = '<% if(locals.title){%><%=locals.title%><% }else{ %>Home<%}%>';		
		console.log(y);
		document.getElementById(y).setAttribute("class", "current_page_item");			
</script>	